body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./img/fundo-colorido-desfocado-vivido.jpg);
    background-size: cover;
    color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}

.titulo {
    font-size: 3rem;
    position: relative;
    margin-bottom: 20px;
}

.titulo::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent 20%, #faf6f6 40%);
}

.container {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

img {
    position: absolute; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%);
    margin-left: 20px;
}

.adicionar {
    border: 0;
    padding: 8px 36px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
}

.adicionar:hover {
    background: #1C1C1C;
    color: aliceblue;
}

#categoria {
    font-weight: bold;
    margin-top: 20px;
}

#produto {
    margin-bottom: 10px;
}

#itensdalistaCompras {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
}

#itensdalistaCompras li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#itensdalistaCompras li strong {
    flex-basis: 30%; /* Define a largura da categoria */
}

#itensdalistaCompras li ul {
    flex-basis: 70%; /* Define a largura da lista de itens */
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 94vw;
    }
}
